.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
div.center {
    text-align: center;
    vertical-align: middle;
    margin-top: 10px;
}
div.center a {
    text-decoration: none;
    color: #789;
}
.comments {
    margin-top: 50px;
	margin-bottom: 100px;
}

.blog-post-meta {
    color: #999;
    height: 20px;
    padding-bottom: 5px;
}
#search-input {
    width: 400px;
    margin: 0 auto;
}
.search {
    vertical-align: middle;
    text-align: center
}
blockquote { font-size: 15px; }
td { vertical-align: middle !important; }